{% extends "index.html" %}
{% block central %} 

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Actividades</h4>
            <p>Gestión de actividades de clientes. Seguimiento personalizado.</p>

            <h4>Contactos</h4>
            <p>Gestión de contactos de clientes y empresas asociadas a OpenOrder.</p>

            <h4>Compras</h4>
            <p>Gestión de compras asociadas a clientes.</p>
            <br/>
        </div>

        <div class="col-lg-6">

            <h4>Feedbacks</h4>
            <p>Contacto y atención al cliente.</p>
        </div>
    </div>

{% endblock %}